@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {

    background-color: rgba(40, 40, 40, 1);
}

body h1 {

    font-size: 30px;
    position: relative;
    margin-top: 250px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

a {

    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
}

a:hover {

    color: gray;
    transition: color 0.25s ease-in-out;
}

body p {

    font-size: 18px;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

body header ::selection {

    color: white;
    background-color: gray;
}

body ::selection {

    color: black;
    background-color: white;
}