@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {

    --transition: color 0.10s ease-in-out;
    --font-family: 'Poppins', sans-serif;
}

body {

    background-color: #22252f;
}

body h1 {

    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 250px;
    margin-bottom: 50px;
    font-family: var(--font-family);
}

a {

    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--font-family);
}

body p {

    font-size: 18px;
    text-align: center;
    color: white;
    font-family: var(--font-family);
}

/* Hover */

.github:hover {

    color: #388bfd;
    text-decoration: underline;
}

.minecraft:hover {

    color: #75ad47;
    text-decoration: underline;
}

.network:hover {


    color: #5555ff;
    text-decoration: underline;
}

.spigot:hover {

    color: #e39a0d;
    text-decoration: underline;
}

.bungeeCord:hover {

    color: #d5b754;
    text-decoration: underline;
}

/* Selection */
body header ::selection {

    color: white;
    background-color: gray;
}

body ::selection {

    color: black;
    background-color: white;
}

/* Focus */
.github:focus {

    color: #388bfd;
    transition: var(--transition);
}

.minecraft:focus {

    color: #75ad47;
    transition: var(--transition);
}

.network:focus {

    color: #5555ff;
    transition: var(--transition);
}

.spigot:focus {

    color: #e39a0d;
    transition: var(--transition);
}

.bungeeCord:focus {

    color: #d5b754;
    transition: var(--transition);
}