@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {

    background-color: #004040;
}

p {
    text-align: center;
    position: relative;
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
}

::selection {
    background-color: rgba(21, 108, 194, 0.58);
}